.total{
    text-align: right;
    font-size: 1.3rem;
    margin-right: 360px;

}

.shopping-card-table {
    width: 100%;
    padding: 0;
    display: inline-block;
}
.shopping-card-table h2{
    margin-left: 500px;
}
.table {
    margin: 0 100px;
    width: 80%;
}

.btn {
    background: white;
    margin-left: 3px;
    font-size: 12px;
}

/*.tbody tr{*/
/*    display: inline-block;*/
/*}*/