@keyframes ldio-zr886t0744h {
    0 % {opacity: 1}
    100% {opacity: 0}
}
.ldio-zr886t0744h div {
    left: 92.59px;
    top: 46.295px;
    position: absolute;
    animation: ldio-zr886t0744h linear 1.1627906976744184s infinite;
    background: #379de4;
    width: 11.82px;
    height: 25.61px;
    border-radius: 5.91px / 12.805px;
    transform-origin: 5.91px 52.205px;
}.ldio-zr886t0744h div:nth-child(1) {
     transform: rotate(0deg);
     animation-delay: -1.094391244870041s;
     background: #379de4;
 }.ldio-zr886t0744h div:nth-child(2) {
      transform: rotate(21.176470588235293deg);
      animation-delay: -1.0259917920656634s;
      background: #379de4;
  }.ldio-zr886t0744h div:nth-child(3) {
       transform: rotate(42.35294117647059deg);
       animation-delay: -0.9575923392612858s;
       background: #379de4;
   }.ldio-zr886t0744h div:nth-child(4) {
        transform: rotate(63.529411764705884deg);
        animation-delay: -0.8891928864569083s;
        background: #379de4;
    }.ldio-zr886t0744h div:nth-child(5) {
         transform: rotate(84.70588235294117deg);
         animation-delay: -0.8207934336525308s;
         background: #379de4;
     }.ldio-zr886t0744h div:nth-child(6) {
          transform: rotate(105.88235294117646deg);
          animation-delay: -0.7523939808481531s;
          background: #379de4;
      }.ldio-zr886t0744h div:nth-child(7) {
           transform: rotate(127.05882352941177deg);
           animation-delay: -0.6839945280437756s;
           background: #379de4;
       }.ldio-zr886t0744h div:nth-child(8) {
            transform: rotate(148.23529411764707deg);
            animation-delay: -0.615595075239398s;
            background: #379de4;
        }.ldio-zr886t0744h div:nth-child(9) {
             transform: rotate(169.41176470588235deg);
             animation-delay: -0.5471956224350205s;
             background: #379de4;
         }.ldio-zr886t0744h div:nth-child(10) {
              transform: rotate(190.58823529411765deg);
              animation-delay: -0.4787961696306429s;
              background: #379de4;
          }.ldio-zr886t0744h div:nth-child(11) {
               transform: rotate(211.76470588235293deg);
               animation-delay: -0.4103967168262654s;
               background: #379de4;
           }.ldio-zr886t0744h div:nth-child(12) {
                transform: rotate(232.94117647058823deg);
                animation-delay: -0.3419972640218878s;
                background: #379de4;
            }.ldio-zr886t0744h div:nth-child(13) {
                 transform: rotate(254.11764705882354deg);
                 animation-delay: -0.27359781121751026s;
                 background: #379de4;
             }.ldio-zr886t0744h div:nth-child(14) {
                  transform: rotate(275.29411764705884deg);
                  animation-delay: -0.2051983584131327s;
                  background: #379de4;
              }.ldio-zr886t0744h div:nth-child(15) {
                   transform: rotate(296.47058823529414deg);
                   animation-delay: -0.13679890560875513s;
                   background: #379de4;
               }.ldio-zr886t0744h div:nth-child(16) {
                    transform: rotate(317.6470588235294deg);
                    animation-delay: -0.06839945280437756s;
                    background: #379de4;
                }.ldio-zr886t0744h div:nth-child(17) {
                     transform: rotate(338.8235294117647deg);
                     animation-delay: 0s;
                     background: #379de4;
                 }
.loadingio-spinner-spinner-lqxsmsun1fk {
    width: 197px;
    height: 197px;
    display: inline-block;
    overflow: hidden;
    background: white;
}
.ldio-zr886t0744h {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}
.ldio-zr886t0744h div {box-sizing: content-box;}
/* generated by https://loading.io/ */