.slider{
    position: relative;
    display: flex;
    height: 350px;
    width: 800px;
    margin: 50px 300px;
    box-sizing: border-box;
    align-items: center;
    overflow: hidden;
    background: black;
}

.slide {
    position: relative;
    min-width: 100%;
    height: 100%;
    transition: 0.5s;
    overflow: hidden;
}

.images i {
    background: 100%;
}
.slider button {
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 10%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    transition: 0.5s;
}
.slider button:hover{
    background: rgba(0, 0, 0, 0.356);
}

.left-button {
    left: 40px;
}

.right-button {
    right: -40px;
}

.left-icon{
    font-size: 30px;
}
.right-icon{
    font-size: 30px;
}