.login_form {
    position: center;
    justify-content: center;
    text-align: center;
    margin: 100px auto;
    width: 350px;
    height: 100%;
    border: 1px solid rgb(231, 228, 228);
    border-radius: 7px 7px 0 0;
    background-color: white;
    z-index: 3;
}
.login_form p{
    margin-right: 65%;
    margin-top: 30px;
    font-size: 20px;
}
.login_form .user_info {
    margin: 20px 0;

}
.login_form .user_info input{
    border: none;
    border-bottom: 1px solid black;
    width: 80%;
    font-size: 15px;
    margin-bottom: 25px;
    padding-left: 1px;
    padding-right: 1px;
    letter-spacing: 1px;
    font-weight: 300;
    outline: none;
    border-bottom: 1px solid rgb(231, 228, 228);
    border-radius: 0;
    color: #485455;
    background: transparent;
    resize: none;
}
.login_form .user_info input:focus,
.login_form .user_info input:valid
{
    border-bottom:2px solid #0e72e2;
}
.btn__forgot a {
    color: #0e72e2;
    font-size: 11px;
    text-decoration: none;
    font-weight: 1000;
    margin-bottom: 12px;
    font-family: 'Montserrat', cursive;
    cursor: pointer;
}

.btn__forgot a:hover {
    color: #1071E3;
}

.btn__forgot button {
    width: 80%;
    height: 39px;
    font-size: 15px;
    color: white;
    font-family: 'Montserrat', cursive;
    padding: 4px 60px;
    font-weight: lighter;
    background-color: #1071E3;
    border-color: #0070f1;
    cursor: pointer;
    outline: none;
    border-radius: 5px 5px 5px 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    -webkit-transition: background-color .2s ease-out 0s;
    -o-transition: background-color .2s ease-out 0s;
    -moz-transition: background-color .2s ease-out 0s;
    transition: background-color .2s ease-out 0s
}

.btn__forgot button:active,
.btn__forgot button:hover{
    background-color: #0096d1;
    border-color: #0096d1;
    color: #fff;
    text-decoration: none;
    outline: none;
}

.social {
    padding-right: 8px;
}

.social i{			/*иконки соц сетей*/
    color: rgb(153, 153, 153);
    width: 100px;
    font-size: 12px;
    padding: 10px 10px;
    border-radius: 3px;
    background-color: rgba(236, 236, 236, 0.5);
    margin-top: 17px;
    margin-bottom: 5px;
    margin-left: 10px;
}


#f:hover{
    cursor: pointer;
    color: white;
    background-color: #0072c6;
}
#g:hover{
    cursor: pointer;
    color: white;
    background-color: #d24726;
}
#l:hover{
    cursor: pointer;
    color: white;
    background-color: #2b579a;
}
#w:hover {
    cursor: pointer;
    color: white;
    background-color: #217346;
}

.footer{
    width: 100%;
    height: 95px;
    background-color: #FCFCFC;
    /*padding: 20px 0 15px;*/
    border-top: 1px solid #e8e8e8;
    font-size: 14px;
    margin-top: 20px;
    text-decoration: none;

}


.text1{
    margin-top: 25px;
    font-family: fantasy;
    margin-bottom: 5px;
    font-size: 17px;
    cursor: pointer;
    font-weight: 500;
    /*margin-right: 10px;*/
}

.sign-up{
    font-family: fantasy;
    margin-top:  1em;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    color: #0e72e2;
    /*margin-right: 8px;*/
}

.sign-up:hover,
.sign-up:active {
    text-decoration: none;
}


