.book-list {
    list-style: none ;
    padding: 0;
}

.key {
    overflow: hidden;
    color: white;
}


.spinner {
    bottom: 5px;
}

.error{
    position: relative;
    top: 50px;
    right: 500px;
    font-size: 10px;

}